.ipynb_checkpoints
.jupyter
.vscode
archive
datasets
modeling-env
models/sold-per-item-model
models/unitable-model
server/test/chunked
server/test/newlongIowaLiqourfixed.csv
server/test/sampledatafoodsales.xlsx
server/uploads/*
lookup_resultmodel.csv
lookup.csv
models.json
realtransformer.ipynb
__pycache__/
password.txt